h1
{
	color: orange;
}

body
{
	background-color: green
}

#bloc
{

	width:800px;
	margin:0 auto;
	background-color: white;
	text-align: center;
	align-content: center;
}

ul li
{
	list-style-type: none;
}

#bloc2
{

	text-align: center;
}